[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anniechen2017
[access "refs/for/refs/*"]
	read = group user/anniechen2017
	push = group user/anniechen2017
	label-Code-Review = -2..+2 group user/anniechen2017
	label-Verified = -1..+1 group user/anniechen2017
	rebase = group user/anniechen2017
	removeReviewer = group user/anniechen2017
	submit = group user/anniechen2017
[access "refs/heads/*"]
	read = group user/anniechen2017
	create = group user/anniechen2017
	push = +force group user/anniechen2017
	pushMerge = group user/anniechen2017
[access "refs/tags/*"]
	push = group user/anniechen2017
	push = +force group user/anniechen2017
